@model CourseWorkFactoryAutomatization.Models.User

<div class="container-register container-style">
    <form asp-action="Login">
        <h1 class="register">Вход</h1>
        <label asp-for="Email"> E-mail:</label>
        <input asp-for="Email" class="form-control" type="email" placeholder="Введите e-mail">
        <label asp-for="Password"> Пароль:</label>
        <input asp-for="Password" class="form-control" type="password" placeholder="Введите пароль">
        <button class="btn btn-primary">Отправить</button>
    </form>
</div>