@{
    ViewData["Title"] = "InfoExpenses";
    Layout = "_Layout_Accountant";
}

<h1>Информация по расходу</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Наименование техники
            </th>
            <th>
                Расход деталей
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gr in ViewBag.Counterr)
        {
            <tr>
                <td>
                    @gr.TechId
                </td>
                <td>
                    @gr.Countt
                </td>
            </tr>
        }
    </tbody>
</table>