@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_Accountant";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Для начала работы пожалуйста авторизируйтесь.</p>
</div>
