@model CourseWorkFactoryAutomatization.Models.TechnicManual

@{
    ViewData["Title"] = "DeleteTechnicManual";
    Layout = "_Layout_SuperVisor";
}

<h1>Удалить каталог</h1>

<h3>Вы уверены что хотите удалить запись?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
    </dl>
    
    <form asp-action="DeleteTechnicManual">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к общему списку</a>
    </form>
</div>
