@model CourseWorkFactoryAutomatization.Models.DetailCatalog

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout_Accountant";
}

<h1>Удаление каталога деталей</h1>

<h3>Вы уверены что хотите удалить каталог?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Назад к общему списку</a>
    </form>
</div>
