html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(248, 243, 200)
}

.container-register{
    width: 400px;
}
.table {
    box-shadow:0px 0px 15px 5px rgb(0, 0, 0, 0.27);
}
header {
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0, 0.27);
}
.container-fluid {
    background-color: rgb(182, 183, 158)
}
label{
    margin-bottom:10px;
}