html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.pos-r {
    margin-left: 200px;
    margin-right: 0em;
}
.container-register{
    width: 400px;
}